<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/stylesheets/sign_up.css" type="text/css">
</head>
<body>

<div class="wrapper">
  <div class="signup">
    <h1>Sign Up</h1>
    <form method="post" action="user/register" class="signup-form">
      <fieldset>
        <p id="login_error"></p>
        <label>fullName</label>
        <input type="text" placeholder="fullName" name="fullName">
        <label>email</label>
        <input type="text" placeholder="Email" name="email">
      </fieldset>
      <fieldset>
        <label> phoneNumber</label>
        <input type="number" placeholder="phoneNumber" name="phoneNumber">
      </fieldset>
      <fieldset>
        <label>password</label>
        <input type="password" placeholder="Password" name="password">
        <label> ConfirmPassword</label> 
            <input type="password" placeholder="confirm Password" name="confirm_password">
      </fieldset>
       <p><input type="submit" value="Log in"></p>
    </form>
  </div>  
</div>
</body>
</html>








 